.itemStyle{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    width: '100%';
    height: '50px';
    font-size: '14px';
    background: '#fff';
    border-radius: '10px';
}